body{
    background-color: lightblue;
}

h1{
    color: teal;
    font-size: xx-large;
}

h2{
    color: palegreen;
    font-size: x-large;
}

h3{
    color: palegreen;
    font-size: x-large;
}

a:link{
    color: orange
}

a:visited{
    color:red
}

p{
    font-family: "mitr", sans-serif;
    font-size: medium;
    color: black;
}

#dog2{
    background-color: aquamarine;
    padding: 20px;
    border-style: solid;
    border-color: blue;
    border-width: 3px;
    position:absolute; top: 75px; left: 300px
}

#dog5{
    background-color: blue;
    padding: 20px;
    border-style: solid;
    border-color: aquamarine;
    border-width: 3px;
    position:absolute; top: 600px; left: 75px
}